<br/>
<h5>Compliance:</h5>
Commands can still be executed even if the message is wrapped in square brackets or similar characters.
<br/><br/>
To demonstrate, <pre>[ ok google ping ]</pre> and <pre>// ok google ping</pre> works just like <pre>ok google ping</pre>
<br/><br/>
Supported stuff:
<ul>
<li><pre>[</pre> optionally with <pre>]</pre></li>
<li><pre>{</pre> optionally with <pre>}</pre></li>
<li><pre>~</pre> and <pre>//</pre></li>
</ul>
