<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link rel="stylesheet" href="css/nprogress.css">
        <!-- <link rel="stylesheet" href="smain.css"> -->
    <style>
      table { table-layout: fixed; }
      td { width: 33%; }
      body {
        background-color: #23272A;
          color: #7289DA;
        }
        .dropdown-content li>span {
          color: #7289DA;
        }
        a {
          color: #7289DA;
          text-decoration: underline;
        }
        .logout {
          position:absolute;
          top:0;
          right:0;
          padding-top: 1em;
          padding-right: 0.5em;
        }
        pre {
          display: inline;
          white-space: pre-wrap;
          background-color: #fcfcfc;
          padding: 1px;
          padding-left: 3px;
          padding-right: 3px;
          border: 0px solid;
          border-radius: 5px;
        }
    </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2>Command Reference</h2>
                </div>
                <div class="col s12">
                    {{quote}}
                    <table>
                        <thead>
                            <tr>
                                <th data-field="command">Command</th>
                                <th data-field="description">Description</th>
                                <th data-field="usage">Usage</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each commands}}
                        <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.description}}</td>
                        <td><pre>{{this.usage}}</pre></td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    <hr>
                    {{> compliance}}
                </div>
            </div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script>
    </script>
    </body>
</html>
