<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link rel="stylesheet" href="css/nprogress.css">
        <!-- <link rel="stylesheet" href="smain.css"> -->
    <style>
      table { table-layout: fixed; }
      td { width: 33%; }
      body {
        background-color: #23272A;
          color: #7289DA;
        }
        .dropdown-content li>span {
          color: #7289DA;
        }
        a {
          color: #7289DA;
          text-decoration: underline;
        }
    </style>
    </head>
    <body>
      <div class="center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <h3>Success!</h3>
        Google has been added to
        <h3>"{{guild.name}}"</h3>
        <a href="/help" target="_blank">Command Help</a>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script>
    </script>
    </body>
</html>
