@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 15deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 15deg);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, 12deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, 12deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 18deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 18deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 12deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 12deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 15deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 15deg);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 15deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 15deg);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, 12deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, 12deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 18deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 18deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 12deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 12deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 15deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 15deg);
  }
}

h1::after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: tada;
  animation-name: tada;
}

