<html>
  <head>
    <title>Compliance - Google for Discord</title>
    <link rel=stylesheet href="css/main.css">
  </head>
  <body>
    <div class=container>
      {{{compliance}}}
    </div>
  </body>
  {{> tracker }}
</html>
