<html lang="en"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Google for Discord</title>
  <meta name="theme-color" content="#7289DA">
  <link rel="stylesheet" href="css/main.css">
</head>
<body cz-shortcut-listen="true">
  <div class=app>
    <div class=container id=center>
      <h1>Google</h1>
      <h2 id=guilds>Serving in many Servers!</h2>
      <h5>Useful Information for any Discord Server</h5>

      <a href=/invite>Invite</a>

      <a href=https://www.patreon.com/guscaplan>Donate</a>

      <a href=https://gus.host/discord>Help Server</a>
    </div>
  </div>

  <script>
    new EventSource('/events').addEventListener('stats', (e) => {
      const data = JSON.parse(e.data);
      document.querySelector('#guilds').innerHTML = `Serving in ${data.guilds} Servers!`;
    });
  </script>
  {{> tracker }}
</body>
</html>
