<html>
  <head>
    <title>Invite - Google for Discord</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class=app>
      <div class=container>
        <h1>Success!</h1>
        <h5>Googlebot has been added to</h5>
        <h5>"{{guild.name}}"</h5>
        <a href='/'>Home</a>
      </div>
    </div>
    {{> tracker }}
  </body>
</html>
