@font-face {
  font-family: uniSans;
  src: url(https://gus.host/uni_sans_thin.otf);
}

html,
body {
  height: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #23272A;
  font-family: uniSans;
  text-align: center;
  color: #7289DA;
  text-transform: uppercase;
}

a {
  color: #7289DA;
  font-size: 5vmin;
  padding: 1vmin;
}

.app {
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

h1 {
  font-size: 15vmin;
  margin-bottom: 0;
}

h5 {
  font-size: 5vmin;
}

#guilds {
  margin-top: 0;
  font-size: 3vmin;
}

pre, code{
  display: inline;
  white-space: pre-wrap;
  background-color: #fcfcfc;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  border: 0px solid;
  border-radius: 5px;
  text-transform: none !important;
}

table {
  table-layout: fixed;
}

td {
  width: 33%;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
}
